$notie-color-success: #57BF57;
$notie-color-warning: #D6A14D;
$notie-color-error: #E1715B;
$notie-color-info: #4D82D6;
$notie-color-neutral: #A0A0A0;
$backgorund: #000000;

@import "./reset.css";
@import "./loading.scss";
@import '../../../node_modules/notie/src/notie.scss';
@import './firebase.scss';
@import './help.scss';


html, body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.notie-container {
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  z-index: 10000;
}

.crosshair {
	position: fixed;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -2px;
  width: 4px;
  height: 4px;
  background-color: #d00;
  opacity: 0.5;
}

#wsTime {
  position: absolute;
  top: 20px;
  background: #000;
  color: #fff;
  left: 20px;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $backgorund;
}

.linkblock {
  text-decoration: none;
}

.icon-text {
  display: inline-block;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all .3s ease;
  padding: 5px 0;
  vertical-align: middle;
}

.icon {
  margin-right: 5px;
  border-bottom: none;
}

.icon-text:hover {
  border-bottom-color: rgba(255, 255, 255, 0);
}

.sign-in {
  flex-direction: column;

  h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    display: block;
  }

  h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    display: block;
    padding: 40px 0 3px;
  }

  a {
    text-align: center;
    display: block;
    color: #737373;
  }

  .sign-in--logo {
    background-image: url(/dist/img/theurbn-logo.svg);
    display: block;
    width: 170px;
    height: 200px;
    background-size: cover;
    margin: 0 auto;
  }

  .main-github {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 16px;
  }

  .loaders {
    position: absolute;
  }
}

#loader {
  z-index: 100;
  flex-direction: column;
}

#phone {
  h1 {
    font-size: 4rem;
    color: #fff;
    padding: 2rem;
    text-align: center;
    line-height: 1.6;
  }
}
