#firebaseui-auth-container {
  background: $backgorund;
  position: relative;
  width: 550px;
  height: 240px;
  z-index: 20;

  .firebaseui-card-header {
    display: none;
  }

  h2 {
    font-size: 25px;
  }

  .firebaseui-text {
    color: #fff;
  }
  
  .firebaseui-form-actions {
    text-align: center;
  }
  
  .firebaseui-container {
    max-width: 550px;
    background: $backgorund;
    box-shadow: none;
  }

  .firebaseui-busy-indicator {
    height: 10px;
    margin-top: 30px;
  }
  
  .firebaseui-idp-list {
    text-align: center;

      &>.firebaseui-list-item {
      display: inline-block;
      width: 100px;

      .firebaseui-idp-text {
        display: none !important;
      }

      .firebaseui-idp-button {
        width: 64px;
        height: 64px;
      }

      .firebaseui-idp-icon {
        border: none;
        display: inline-block;
        height: 32px;
        vertical-align: middle;
        width: 32px;
      }
    }
  }
}