.help {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;

  &-desc {
    margin: 2px 0;

    strong {
      color: #dadada;
    }
  }

  &-item {
    padding: 10px;
    position: relative;
    max-width: 300px;
    &__number {
      display: block;
      font-size: 28px;
      width: 40px;
      height: 40px;
      background: #000;
      text-align: center;
      line-height: 40px;
      position: absolute;
    }
    &__text {
      text-align: center;
      font-size: 16px;
      line-height: 1.5;
      padding: 5px 0;
    }
    &__image {
      min-height: 272px;
      background: #000;
      font-size: 16px;
    }
    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }

  &-controls {
    height: 85%;
    width: auto;
    margin: 5% auto;
    display: block;
  }
}

.help-win {
  text-align: center;
  margin-top: 20px;
  h1 {
    font-size: 20px;
    color: #fff;
  }
}

.help-modal {
  padding: 20px 15px;
  h2 {
    text-align: center;
    font-size: 28px;
    color: #fff;
  }
}

.help-container .v--modal {
  background: $backgorund;
  border-radius: 0;
  .help-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 18px;
    outline: none;
  }
}

#loader-container {
  .help-modal {
    width: 900px;
    height: 500px;
  }
}