<div class="help-modal">
  <h2>Game rules</h2>
  <div class="help">
    <div class="help-item">
      <div class="help-item__number">1</div>
      <div class="help-item__image"><img src="/dist/img/step1.jpg"></div>
      <div class="help-item__text">Find spots with flag.</div>
    </div>
    <div class="help-item">
      <div class="help-item__number">2</div>
      <div class="help-item__image"><img src="/dist/img/step2.jpg"></div>
      <div class="help-item__text">Hold as many flags as you can.</div>
    </div>
    <div class="help-item">
      <div class="help-item__number">3</div>
      <div class="help-item__image"><img src="/dist/img/step3.jpg"></div>
      <div class="help-item__text">Hold 'em and score points.</div>
    </div>
  </div>
  <div class="help-win">
    <h1>Be the first and pick up gaming HEADPHONES at <a href="//urbn.odn.pw/static/img/map-desk.png" target="_blank">Ingram Micro desk</a></h1>
  </div>
</div>