<div class="help-modal">
  <h2>Правила игры</h2>
  <div class="help">
    <div class="help-item">
      <div class="help-item__number">1</div>
      <div class="help-item__image"><img src="/dist/img/step1.png"></div>
      <div class="help-item__text">Блэд Полигональный В меню справа вы можете увидеть основные пункты данного раздела: «Краткое руководство»</div>
    </div>
    <div class="help-item">
      <div class="help-item__number">2</div>
      <div class="help-item__image"><img src="/dist/img/step2.gif"></div>
      <div class="help-item__text">Блэд Полигональный Чтобы ознакомиться с содержанием нужного раздела, нажмите на иконку «Плюс» слева от соответствующего пункта меню.</div>
    </div>
    <div class="help-item">
      <div class="help-item__number">3</div>
      <div class="help-item__image" style="height: 272px; background: #000;"><img src="/dist/img/step3.gif"></div>
      <div class="help-item__text">Блэд Воксикальный Для быстрого переключения между страницами используйте ссылки внизу каждой статьи.</div>
    </div>
  </div>
</div>